.Form__Controls {
    display: flex;
    justify-content: space-evenly;
}

.Controls__Button {
    color: white;
    width: 180px;
    height: 40px;
    margin-top: 10px;
    font-size: 18px;
}

.Controls__Button.Next {
    background-color: #05878a;
}

.Next:hover {
    background-color: #024345;
}

.Controls__Button.Back {
    background-color: #c62828;
}

.Back:hover {
    background-color: #621414;
}

.Controls__Button.Info {
    background-color: #2962ff;
}

.Info:hover {
    background-color: #002794;
}
