.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
    /* text-align: center; */
    margin-top: 50px;
}

html * {
    font-family: 'Source Sans Pro', sans-serif;
}

.Bold {
    font-weight: 700;
}

.Green {
    color: #009688 !important;
}

.GreenBackground {
    background-color: #009688 !important;
}

.Red {
    color: #f44336 !important;
}

.RedBackground {
    background-color: #f44336 !important;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

button {
    outline: none;
    text-align: center;
}

html,
body,
div,
ul,
li {
    margin: 0;
    padding: 0;
}
