.PF {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #f2f3f5;
}

.PF__AskCTA,
.PF__Close {
    width: 100%;
    color: white;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    user-select: none;
}

.PF__AskCTA {
    background-color: #007791;
}

.PF__Close {
    background-color: #ec5252;
    /* height: 40px; */
}

.PF__Content {
    width: 85%;
    background-color: white;
    margin: 20px auto;
    padding: 20px;
}

.PF__NotFoundDesc {
    color: #29303b;
    margin-top: -15px;
}

.PF__NotFound {
    margin-top: 100px;
}

.PF__NotFound > img {
    width: 200px;
    height: 200px;
}

.PF__NewPost > .Base__TextArea {
    width: 85%;
    margin-top: 20px;
}

.PF__NewPost > .ContextButton {
}
