.EleButton {
    background-color: transparent;
    border: 2px solid black;
    color: black;
    outline: none;
    cursor: pointer;
    font: inherit;
    margin: 10px;
    font-weight: bold;
    height: 28px;
    border-radius: 5px 5px 5px 5px;
}

.EleButton:hover {
    color: #d20962;
}

.EleButton:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    color: #5c9210;
}

.Danger {
    color: #944317;
}

.EleField > button {
    margin: 0;
    margin-top: 3px;
}
