.ContextButton {
    overflow: hidden;
    user-select: none;
    vertical-align: middle;
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
    fill: none;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
    border: none;
    min-width: 90px;
    color: #fff;
    background-color: #3369e7;
    line-height: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin: 5px 10px 2px 10px;
    height: 33px;
}

.ContextButton:hover {
    background-color: #517fea;
}

.ContextButton.CButton__Red {
    background-color: #f44336;
}

.ContextButton.CButton__Red:hover {
    background-color: #dd2222;
}

.ContextButton.CButton__Green {
    background-color: #00a98f;
}

.ContextButton.CButton__Green:hover {
    background-color: #00d1b2;
}

.ContextButton.CButton__Orange {
    background-color: #f48924;
}

.ContextButton.CButton__Orange:hover {
    background-color: #ea780c;
}

.ContextButton:disabled {
    background-color: #333333;
    cursor: not-allowed;
}
