.Dashboard {
    display: grid;
    grid-template-rows: 60px 25px auto;
    height: 100vh;
}

.Dashboard__Content {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
}

.Dashboard__Toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e8eaed;
}
.Dashboard__Header {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    border-bottom: 1px solid #e8eaed;
    text-align: center;
    color: #5f6368;
}

.Dashboard__Header > div {
    margin: 0 70px;
    font-weight: 700;
}

.Dashboard__Files {
    border-right: 1px solid #e8eaed;
    height: calc(100vh - 60px - 25px);
    overflow: auto;
}

.Dashboard__Actions {
    display: flex;
    flex-direction: column;
}

.Dashboard__Actions > button {
    width: 75%;
    margin: 10px auto;
}
/* #5f6368 */
