.Dashboard {
    display: grid;
    grid-template-rows: 60px 25px auto;
}

.Dashboard__Content {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
}

.Dashboard__Toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e8eaed;
}
.Dashboard__Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e8eaed;
}

.Dashboard__Header > div {
    margin: 0 70px;
    font-weight: 700;
}

.Dashboard__Files {
    border-right: 1px solid #e8eaed;
}
/* #5f6368 */
