.Landing__Wrapper {
    display: grid;
    color: #262627;
    grid-template-rows: auto auto;
    justify-items: stretch;
    align-items: center;
}

.Landing {
    display: grid;
    grid-template-columns: 350px auto;
    justify-items: stretch;
    align-items: center;
    padding: 20px;
    background: #f1ece4;
    min-height: 100vh; /* IMPORTANT: REMOVE THIS LATER!!!!!!!!!! */
}

.Landing__Text > h1 {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif !important;
}

.Landing__Text .Landing__Intro {
    font-size: 20px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif !important;
}

.Landing > img {
    max-width: 100%;
    grid-area: 'main_image';
}

.Landing__CTA {
    display: flex;
    min-height: 40px;
    justify-content: flex-start;
}

.Landing__CTA > button {
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
    border-radius: 2px;
}

#Landing__Blacky {
    border: 1px solid #262627;
    background-color: #262627;
    color: #fff;
    margin-right: 16px;
}

#Landing__White {
    border: 1px solid #262627;
    background: transparent;
    color: #262627;
}
