.PF__NotFoundDesc {
    color: #29303b;
    margin-top: -15px;
}

.PF__NotFound {
    margin-top: 50px;
}

.PF__NotFound > img {
    width: 200px;
    height: 200px;
}

@media (max-width: 768px) {
    .PF__NotFound > img {
        width: 120px;
        height: 120px;
    }
}
