.Logic {
    border-radius: 3px;
    background-color: #fff;
    padding: 5px 2px;
    max-width: 400px;
}

.Logic__Label {
    color: #333333;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.Logic__Label > span {
    cursor: pointer;
}

.Logic__Panel {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.Logic > div:nth-child(3) {
    margin-top: 20px;
}

.Logic__Panel > span {
    font-weight: 700;
    font-size: 19px;
    padding-left: 2px;
    margin-right: 20px;
    color: #191919;
}

.Logic .Y__Select {
    width: 270px;
}

.Logic .Y__Select > .Select__Selected {
    border: none;
}

#Logic__Remove:hover {
    stroke: red;
    fill: red;
}

.Logic__Buttons {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}

.Logic__Buttons > button {
    outline: none;
    /* border: 1px solid blue; */
    border-radius: 6px;
    background-color: #0088ff;
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding: 6px;
    width: 80px;
    height: 33px;
    cursor: pointer;
}

.Logic__Buttons > button:hover {
    background-color: #0061d5;
}

.Logic__Buttons > button:disabled {
    background-color: #59626a;
    cursor: not-allowed;
}
