.Form {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    padding-right: 40px;
    padding-left: 40px;
    /* text-align: center; */
    margin-top: 200px;
    text-align: center;
}

.Form input {
    width: 100%;
}

.Form ._label {
    font-size: 24px;
}

.Form__Welcome h1 {
    font-size: 50px;
}

.Form__Actions {
    margin-top: 70px;
}

.Form button {
    color: white;
    width: 180px;
    height: 40px;
    margin-top: 10px;
    font-size: 18px;
    outline: none;
    border: none;
}

.Form__Field__Count {
    padding: 10px;
    background-color: #003366;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border-radius: 10px;
}

@media (max-width: 760px) {
    .Form__Field > button:first-of-type {
        margin-top: 35px;
    }

    .Form {
        margin-top: 160px;
    }
}
