.Builder__Elements {
    padding-left: 5px;
    border-right: 2px solid #eee;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 5px;
}

.Builder__Element {
    padding: 5px;
}
