.Builder {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 10px;
}

.QuestionBuilder {
    --border-radius: 15px;
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 90%;
    height: 90%;
    border: 1px solid #ccc;
    /* box-shadow: 1px 1px 1px black; */
    border-radius: var(--border-radius);
    /* padding: 5px; */
    left: 5%;
    top: 5%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3px;
    background-color: black;
}

.EleBuilder {
    background-color: #f0f0f0;
    padding: 10px;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    display: grid;
    grid-template-rows: 35px auto 50px;
    grid-template-areas: 'title' 'body' 'footer';
    grid-row-gap: 20px;
    justify-items: stretch;
    justify-content: stretch;
    align-content: stretch;
    overflow: auto;
}

.EleTitle {
    color: #007ee5;
    font-size: 22px;
    font-weight: 700;
    border-bottom: 3px solid black;
    grid-area: title;
}

.EleBody {
    grid-area: body;
}

.EleField {
    margin: 20px 0;
}

.EleField > label {
    display: block;
    margin-bottom: 5px;
    font-size: 17px;
}

.EleField > input[type='text'] {
    width: 90%;
    height: 35px;
    border: 1px solid #00539f;
    font-size: 18px;
    padding: 3px 3px;
    outline: none;
}

.EleField > input:disabled {
    border: 1px solid #666666;
}

.EleInline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.EleInline > input[type='text'] {
    width: 20%;
    margin-right: 30px;
    text-align: center;
    height: 25px;
    font-size: 18px;
}

.EleInline > label {
    margin-bottom: 0;
}

.EleFooter {
    display: flex;
    grid-area: footer;
    justify-content: space-around;
}

.ElePreview {
    background-color: #fff;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    padding: 13px;
    display: grid;
    grid-template-rows: 35px auto;
    /* justify-items: center; */
    justify-content: stretch;
    align-content: stretch;
}

.EleField__FlexChoice {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.EleField__FlexInput {
    width: 80%;
    margin-right: 18px;
    height: 30px;
    border: 1px solid #00539f;
    font-size: 16px;
    padding: 3px 3px;
    outline: none;
}

.EleField__FlexInput::-webkit-input-placeholder {
    text-align: center;
    font-style: italic;
}

.EleField__Remove__Show {
    display: block;
}

.EleField__Remove__Hide {
    display: none;
}

.EleBigHelp {
    background-color: #fff3cd;
    margin: 5px 5px 3px 0;
    padding: 10px;
    border: 1px solid #ffeeba;
    font-size: 18px;
}

.EleField__Help {
    font-size: 12px;
    letter-spacing: 0.1px;
    font-style: italic;
    color: #666666;
    display: block;
    padding: 1px;
    margin-top: 2px;
}
/* 
.Logic__Space {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5px;
}

.Logic__Space > .Y__Select {
    min-width: 330px;
    margin: 0 10px;
}

.Logic__Space > span,
.Logic__GoTo > span {
    font-weight: 700;
    font-size: 18.5px;
}

.Logic__GoTo > span {
    display: block;
    margin-bottom: 5px;
}

.Logic {
    padding: 4px;
    border-bottom: 1px solid black;
}

.Logic > small {
    display: block;
    margin-bottom: 5px;
} */
